.filmContainer {
  //   border: 2px solid red;
  background-color: cornflowerblue;
  border-radius: 2rem;

  display: flex;
  flex-direction: column;
  align-content: center;

  min-width: 40%;

  margin: 1rem;
  padding: 2rem;
}

.filmFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.navbar {
}
