.title {
  padding-bottom: 20px;
  text-align: center;
  margin-top: 2rem;
}

.btn {
  display: block;

  color: white;
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;

  width: 250px;
  padding: 8px 0;
  margin: 3rem auto;
  border-radius: 8px;
  background: #ec8600;
}

.btn:hover {
  transform: translateY(-8px);
}

/* Home page  */
.textContent {
  text-align: center;
  font-size: 1.3rem;
}

.textTitle {
  font-size: 1.6rem;
  font-weight: 900;
}

/* 404 error page */
.not-found {
  text-align: center;
}
.not-found a {
  color: #4979ff;
  text-decoration: underline;
}
